*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --dark: #292C35;
  --light: #F1F1F1;
  --label: #111;
  --font: 'Raleway', sans-serif;
  --font-mono: 'Fira Mono', monospace;
  --transition-timing: 200ms;
}

body {
  background: var(--dark);
  color: var(--light);
  font-family: var(--font);
  padding: 5vh 2.5vw;
}

.open-transition {
  animation: openTransition 700ms ease-in-out;
}

@keyframes openTransition {
  0% {
    opacity: 0;
    transform: translateY(-30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* =========== LIGHT-MODE STYLING =========== */
.theme-switcher {
  transition: all var(--transition-timing) ease-in-out;
}

.light-mode {
  color: var(--dark);
  background: var(--light);
}

.creator-bar--link[class*="light-mode"] {
  color: var(--dark);
  background: hsl(0 0% 99%);
  box-shadow: 0 0 5px rgb(0 0 0 / .03);
  font-weight: 500;
}
/* === LIGHT-MODE STYLING === */

h1 {
  font-size: min(14vw, 4.5rem);
  text-align: center;
  font-weight: lighter;
  text-transform: uppercase;
}

/* =========== CREATOR-BAR STYLING =========== */
.creator-bar--container {
  margin: 3vh auto;
  max-width: max-content;
}

.creator-bar--link {
  text-decoration: 0;
  font-family: var(--font-mono);
  font-size: min(4vw, 1rem);
  color: var(--light);
  background: var(--label);
  
  padding: .5em 1em;
  border-radius: .5em;
  transition: var(--transition-timing) ease-out;
}

.creator-bar--link:hover, .creator-bar--link:focus {
  box-shadow: 0 0 10px rgb(0 0 0 / .3);
  transform: rotate(60deg);
}

.creator-bar--link .js--const {
  color: hsl(0 70% 40%);
  font-style: italic;
}

.creator-bar--link .js--var {
  color: hsl(30 70% 40%);
}

.creator-bar--link .js--string {
  color: hsl(80 70% 40%);
}
/* === CREATOR-BAR STYLING === */

/* =========== BUTTON-TOGGLE STYLING =========== */
.btn-toggle {
  position: relative;
  display: flex;
  margin: 15vh auto;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  --btn-toggle--width: 15em; /* change the toggle button size in here */
  width: var(--btn-toggle--width);

  --btn-toggle--height: calc(var(--btn-toggle--width) * .4);
  height: var(--btn-toggle--height);

  border: 0;
  border-radius: 1.5em;
  background: var(--label);
  padding: calc(var(--btn-toggle--height) * .6) calc(var(--btn-toggle--width) * .07);
}

.btn-toggle .btn-toggle--switch {
  height: calc(var(--btn-toggle--height) - 10%);
  width: calc(var(--btn-toggle--width) - 60%);
  border-radius: 1.5em;
  background: var(--light);
  position: absolute;
  transition: transform var(--transition-timing) ease-in-out;
}

.btn-toggle .btn-toggle--switch[class*="move-switch"] {
  transform: translateX(115%);
}

.btn-toggle .btn-toggle--icon {
  height: calc(var(--btn-toggle--height) * .7);
}

@media (min-width: 900px) {
  .btn-toggle:hover .btn-toggle--switch {
    transform: translateX(var(--slightly-move));
  }
}
/* === BUTTON-TOGGLE STYLING === */
